/* Estilos Generales */

.padre {
    background-color: lightblue;
}

.hijo {
    background-color: lightskyblue;
    border: solid 1px blue;
}

#productos div,
#servicios div {
    border: solid 1px;
    padding: 5px;
    background-color: bisque;
}

.border {
    border: 1px solid black;
}


/* GRIDS */
.padre{
    display: grid;
    /* grid-template-columns: 300px 100px 170px;
    grid-template-rows: 40px 100px; 
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 4fr 1fr; 
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr); */
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section#productos {
    grid-area: productos;
}

section#servicios {
    grid-area: servicios;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidad;
}

#grilla{
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-areas: "nav header header" "nav productos publicidad" "nav servicios publicidad" "nav footer footer";
}